.grid-wrapper{
    max-width: 500px;
}


.grid{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.turn-highlight{
    
    color: white;
}

.reset{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}